@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

body {
  background: url(../images/bg-copa.jpg) no-repeat center top #13b9c5;
  background-size: cover;
}

.site-main {
  padding: 0;
  overflow-x: hidden;

  // HEADER -----------------------------------------------------------------------------------------
  .site-header {
    padding-bottom: 60px;
    background: url(../images/bg-copa.jpg) no-repeat center top #13b9c5;
    background-size: cover;
    
    > .container {
      position: relative;
    }

    .logo {
      transform: translateX(-1.6vw);

      @include media-breakpoint-down(md) {
        width: 75%;
        transform: translateX(-7.6vw);
      }
    }

    .nav-primary,
    .nav-secondary {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .nav-mobile {
      margin-bottom: 30px;
    }

    .navbar {
      margin-top: 70px;
      padding: 0;

      .navbar-nav {
        .nav-link {
          color: #fff;
          font-family: 'Bw Glenn Slab', sans-serif;
          font-size: 18px;
          font-weight: 800;
          line-height: 1.2;
          margin-right: 40px;
          padding: 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .nav-mobile {
      .navbar {
        margin-top: 20px;

        .navbar-nav {
          .nav-link {
            @include media-breakpoint-down(xs) {
              font-size: 3vmin;
              margin-right: 15px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .jerseys {
      display: block;
      transform: translateY(-60px);

      img {
        width: 100%;
        margin: 0;
        object-fit: cover;
        object-position: top center;
      }
    }

    .text {
      color: #fff;

      .title {
        color: #ededed;
        
        @include media-breakpoint-down(xs) {
          font-size: 31vmin;
        }
      }
      .secondary-title {
        font-size: 26px;
        font-family: "Bw Glenn Slab";
        font-weight: 800;
        font-style: italic;
        line-height: 1.2;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 6vmin;
      }
    }

    .soccer-cleat {
      width: 588px;
      height: 745px;
      position: absolute;
      left: -391px;
      bottom: -172px;
      z-index: 1;
      background: url(../images/chuteira.png) no-repeat 17px 29px;

      @include media-breakpoint-down(xs) {
        display: none;
      }
      
      &.soccer-cleat-shadow {
        background: url(../images/chuteira-sombra.png) no-repeat left top;
        mix-blend-mode: multiply;
      }
    }
    .soccer-horn {
      width: 195px;
      height: 943px;
      background: url(../images/corneta.png) no-repeat center center;
      position: absolute;
      right: -158px;
      top: 280px;
      z-index: 1;

      @include media-breakpoint-down(xs) {
        display: none;
      }

      &.soccer-horn-shadow {
        background: url(../images/corneta-sombra.png) no-repeat left top;
        mix-blend-mode: multiply;
      }
    }
  }
  // /HEADER ----------------------------------------------------------------------------------------
  // CONTENT ----------------------------------------------------------------------------------------
  .cta-block {
    background: #113b60;
    height: 311px;
    color: #fff;

    > .row {
      height: 100%;
    }

    .cta-text {
      font-size: 18px;
      font-family: "Bw Glenn Slab";
      font-weight: 800;
      line-height: 1.2;
      color: #ededed;
    }

    .cta-button { 

      .btn {
        border-radius: 0;
        padding: 10px 25px;
        border: 0;
        font-family: "Bw Glenn Slab";
        font-weight: 800;
        line-height: 1.2;
        text-transform: uppercase;
        background: #e6f2ec;
        color: #143f64;
      }
      .obs {
        display: block;
        font-family: 'Bw Glenn Slab', sans-serif;
      }
    }
  }
  .subscribe-team-block {
    background: url(../images/bg-cta-block.png) no-repeat center top #113b60;
    
    .cta-button {
      .btn {
        background: #c9d647;
      }
    }
  }
  .scoreboard-block {
    background: #c9d643;
    min-height: 700px;
    color: #fff;
    position: relative;

    .title {
      color: #ededed;
      margin-top: 15px;

      @include media-breakpoint-down(xs) {
        font-size: 31vmin;
      }
    }

    .soccer-ball {
      background: url(../images/bola.png) no-repeat 14px 11px;;
      width: 561px;
      height: 540px;  
      position: absolute;
      top: -40px;
      left: 387px;
      z-index: 1;

      @include media-breakpoint-down(xs) {
        width: 199px;
        height: 208px;
        left: auto;
        background-size: 186px 190px;
        right: -23px;
      }

      &.soccer-ball-shadow {
        background: url(../images/bola-sombra.png) no-repeat left top;
        mix-blend-mode: multiply;

        @include media-breakpoint-down(xs) {
          background-size: contain;
          width: 300px;
          height: 320px;
          right: -125px;
        }
      }
    }

    .scoreboard-container {
      position: relative;
      z-index: 10;
      margin: 60px 0 90px;

      .title {
        font-family: 'Bw Glenn Slab';
        font-weight: 800;
        line-height: 1.2;
        font-size: 40px;
        color: #143f64;
      }

      .scoreboard-list {}

      .group-type-title {
        color: #fff;
      }

      .scoreboard {
        color: #143f64;
        font-size: 18px;
        font-family: 'Bw Glenn Slab';
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 60px;
        padding-right: 30px;

        &:nth-child(odd) {
          margin-left: 50px;

          @include media-breakpoint-down(md) {
            margin-left: 0;
          }
        }

        @include media-breakpoint-down(md) {
          padding: 0;
        }

        &:nth-child(2n) {
          padding-right: 15px;
          padding-left: 30px;

          @include media-breakpoint-down(md) {
            padding: 0;
          }
        }

        .scoreboard-group {
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          color: #fff;
          font-size: 28px;
          margin-bottom: 17px;
        }
  
        .scoreboard-team {
          display: flex;
          margin-bottom: 10px;
  
          .team-name {
            font-size: inherit;
            font-weight: inherit;
            font-family: inherit;
            margin: 0;
            flex-basis: 70%;
          }
          .score-list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex: 1;
  
            .score-item {
              margin: 0;
              flex: 1;
            }
          }
        }
      }
    }
  }
  .tournament-rules-block {
    position: relative;

    .cta-text {
      position: relative;
      z-index: 10;
      margin-bottom: 30px;

      .title {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;

        @include media-breakpoint-down(xs) {
          font-size: 5.5vmin;
        }
      }
    }
    .cta-button {
      position: relative;
      z-index: 10;
    }

    .soccer-whistle {
      background: url(../images/apito.png) no-repeat 10px 20px;
      width: 508px;
      height: 615px;
      position: absolute;
      top: -225px;
      left: -395px;
      z-index: 1;

      &.soccer-whistle-shadow {
        background: url(../images/apito-sombra.png) no-repeat left top;
        mix-blend-mode: multiply;
      }
    }
    .soccer-cards {
      background: url(../images/cartoes.png) no-repeat left top;
      width: 242px;
      height: 194px;
      position: absolute;
      top: -180px;
      right: -121px;
      z-index: 1;
    }
  }
  .gallery-block {
    background: url(../images/bg-galeria.png) no-repeat center bottom #002240;
    background-size: 100% auto;
    min-height: 1098px;

    .title {
      color: #ededed;
      margin-top: 50px;

      @include media-breakpoint-down(xs) {
        font-size: 31vmin;
      }
    }

    .gallery {
      margin-top: 10px;

      .gallery-items {

        .gallery-item {
          margin-bottom: 30px;

          .gallery-image {
            height: 286px;
            background: #ddd;

            .react-fancybox {
              cursor: pointer;
              height: 100%;

              .thumbnail {
                height: 100%;
              }

              .close-btn {
                cursor: pointer;
              }

              .box {
                padding: 0 15px;
              }
            }

            img[alt="thumbnail"] {
              object-fit: cover;
              width: 100%;
              height: 100%;
              margin-bottom: 0;
            }
            img[alt="original"] {
              margin: 0;
            }
          }
        }
      }
    }
  }
  // /CONTENT ---------------------------------------------------------------------------------------
  // FOOTER -----------------------------------------------------------------------------------------
  .site-footer {
    padding-bottom: 20px;

    footer {
      height: 100%;

      > .row {
        height: 100%;
        padding: 67px 0 60px;
      }
    }

    .title {
      color: #ededed;
      font-size: 18px;
      font-family: 'Bw Glenn Slab';
      font-style: italic;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .navbar {
      padding: 0;
      margin-bottom: 25px;

      .site-footer &:last-of-type {
        margin: 0;
      }

      .navbar-nav {

        .nav-link {
          padding: 0 40px 0 0;

          &:last-child {
            padding-right: 0;
          }

          img {
            margin: 0;
          }
        }
      }
    }
    
    .site-footer-sponsors {
        padding: 0;
        position: relative;

        .title {
          position: absolute;
          top: 10px;
          left: 0;

          @include media-breakpoint-down(md) {
            position: static;
          }
        }

        .sponsor-list  {
          @include media-breakpoint-down(md) {
            display: block !important;
          }

          picture {
            display: inline-block;
          }
          img {
            margin: 0;

            @include media-breakpoint-down(xs) {
            }
          }
        }
    } 
  }
  // /FOOTER ----------------------------------------------------------------------------------------
}

// MODAL --------------------------------------------------------------------------------------------
.modal-tournament-rules {
    .modal-dialog {
      
      @include media-breakpoint-down(md) {
        max-width: 90vw;
        margin: 0.5rem auto;
      }
    }
    .modal-header {
      .modal-title {
        font-family: 'Bw Glenn Slab', sans-serif;
        font-size: 25px;
        font-weight: 800;
        line-height: 1.2;
      }
    }
    .modal-body {
      font-family: Arial, Helvetica, sans-serif
    }
}
// /MODAL -------------------------------------------------------------------------------------------

// GENERAL USE --------------------------------------------------------------------------------------
.big-title {
  font-family: 'Calcio-Demo';
  font-size: 237px;
  line-height: 1.5;
}
// /GENERAL USE -------------------------------------------------------------------------------------